.container-fluid {
    margin-bottom: 30px;
    width: 990px;

    .page-header {
        text-align: center;

        a {
            font-size: 11px;
        }

        p {
            font-size: 10px;
            margin: 0;
        }
    }

    .content {
        width: 100%;
    }
}

.search-container {
    width: 100%;

    .no-results {
        display: none;
        text-align: center;
        width: 100%;

        p {
            color: #929292;
            font-size: 20px;
            font-style: italic;
        }
    }

    .search-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;

        .search-item {
            flex: 0 0 32%;
            margin-bottom: 15px;
            max-width: 32%;
            text-align: center;

            .thumb {
                img {
                    cursor: pointer;
                    width: 100%;
                }
            }

            .info {
                text-align: left;

                .viewers {
                    color: #666;
                    display: block;
                }
            }
        }
    }

    .loading {
        display: none;
        text-align: center;
        width: 100%;

        img {
            height: 60px;
            width: 60px;
        }
    }
}

.stream-container {
    width: 100%;

    .stream {
        margin: 20px 0;
    }

    .info {
        width: 100%;

        .channel-logo {
            display: inline-block;
            vertical-align: top;

            img {
                height: 60px;
            }
        }

        .text {
            color: #000;
            display: inline-block;
            vertical-align: top;

            .status {
                font-size: 16px;
                font-weight: 500;
            }
        }

        .views-info {
            display: inline-block;
            float: right;
            margin-top: 10px;
            vertical-align: top;

            span {
                color: #009ed0;
                margin-left: 10px;
                pointer: default;

                span {
                    margin-right: 5px;
                }
            }
        }
    }
}